<%= inside_layout 'monsoon_openstack_auth/application' do %>

  <%= form_tag sessions_path, id: "monsoon_openstack_auth_login" do %>
    <% if @error%>  
      <div class="error"><i class="fa fa-exclamation-triangle"></i><%= @error %></div>
    <% end %>
    <h1>Log In</h1>

    <fieldset id="inputs">
      <p class="domain-wrapper"><%= text_field_tag :domain_name, @domain_name, placeholder: "Domain name", autofocus: true, required: true %></p>
      <p class="username-wrapper"><%= text_field_tag :username, @username, placeholder: "Userid", autofocus: true, required: true %></p>
      <p class="password-wrapper"><%= password_field_tag :password, @password, placeholder: "Password", required: true %></p>

    </fieldset>

    <fieldset id="actions">

      <input type="submit" id="submit" value="Log in">
      <!-- <a href="">Forgot your password?</a><a href="">Register</a> -->
    </fieldset>
  <% end %>
<%end%>
