<%= content_for :title do%>
  Organization <%= @domain %>
<%end%>

<%= link_to 'Back to organizations', domains_path %>

<div class="organization" style="padding: 15px">
  <table>
    <tbody>
      <tr>
        <td>Name</td>
        <td><%=@domain.name%></td>
      </tr>
      <tr>    
        <td>Description</td>
        <td><%=@domain.description%></td>
      </tr>
      <tr>  
        <td>enabled</td>
        <td><%=@domain.enabled%></td>
      </tr>
    </tbody>
  </table>
</div>
<h2>update allowed!!!</h2>
<div class="projects">
  <h3>Projects</h3>
  <ul>
    <%@projects.each do |project|%>
       
      <li><%=link_to project.name, domain_project_path(@region,@domain.id,project.id)%></li>
    <%end%>
  </ul>  
</div>