<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="header">
    <div class="title">
      <h2>
        <%=yield :title %>
        <% if @region %>
          <%= select_tag "region", options_for_select({"Europe" => "europe", "US" => "us"}, @region), onchange: raw("window.location.href='/regions/'+this.value+'/dashboard'") %> 
        <% end %>
      </h2>

    </div>
    <div class="userinfo">
      <% if logged_in?%>
        <h2>Hello <%=current_user.description %> <%= link_to 'Logout', monsoon_openstack_auth.logout_path %></h2>
      <% else %>
        <h2><%=link_to "Login", monsoon_openstack_auth.new_session_path(@region) if @region %>  
      <% end %>
    </div>
  </div>  

  <div class="content">
    <%= render template: '/monsoon_openstack_auth/shared/policy_trace'%>
    
    <% if @service_user%>
      Service User's name: <%= @service_user.current_user %><br/>
      Service User's domains: <%= @domains.collect {|d| d.name}%><br/>
      Is cloud admin: <%= (@monsooncc.nil? or @admin_role.nil?) ? false : @service_user.role_assignments.filter_by(domain_id: @monsooncc.id, role_id: @admin_role.id).count>0%>
    <% end %>  
    
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
        
    <% if logged_in?%><p class="token">Token: <%=current_user.token%></p><%end%>
	<% if auth_default_domain %><p class="token">Default Domain: name=<%=auth_default_domain.name%>, id=<%=auth_default_domain.id%></p><%end%>
    <% if logged_in?%>
	  <%= @region%>	
	<%end%>
   
    <h1><%= "#{controller_name} / #{action_name}" %></h1>
    <%= yield %>
  </div>
  
  <div class="token">
    <% if logged_in? %>
      <pre><%= JSON.pretty_generate(user: current_user.context["user"], domain: current_user.context["domain"], project: current_user.context["project"], roles: current_user.context["roles"]) %></pre>
    <% end %>
  </div>

</body>
</html>
