<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="header">
    <div class="title">
      <h2>
        <%=yield :title %> 
        <% if @region %>
          <%= select_tag "region", options_for_select({"Europe" => "europe", "US" => "us"}, @region), onchange: raw("window.location.href='/regions/'+this.value+'/dashboard'") %> 
        <% end %>
      </h2>

    </div>
    <div class="userinfo">
      <% if logged_in?%>
        <h2>Hello <%=current_user.name %> <%= link_to 'Logout', monsoon_identity.logout_path %></h2>
      <% else %>
        <h2><%=link_to "Login", monsoon_identity.new_session_path(@region) if @region %>  
      <% end %>
    </div>
  </div>  

  <div class="content">
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
        
    <% if logged_in?%><p class="token">Token: <%=current_user.token%></p><%end%>
    
    <%= yield %>
  </div>

</body>
</html>
