<%= content_for :title do%>
  Organization <%= @organization %>
<%end%>

<%= link_to 'Organizations', organizations_path %>

<div class="organization" style="padding: 15px">
  <table>
    <tbody>
      <tr>
        <td>Name</td>
        <td><%=@organization.name%></td>
      </tr>
      <tr>    
        <td>Description</td>
        <td><%=@organization.description%></td>
      </tr>
      <tr>  
        <td>enabled</td>
        <td><%=@organization.enabled%></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="projects">
  <h3>Projects</h3>
  <ul>
    <%@projects.each do |project|%>
       
      <li><%=link_to project.name, organization_project_path(@region,@organization.id,project.id)%></li>
    <%end%>
  </ul>  
</div>