<%= content_for :title do%>
  Project <%= @project.name %>
<%end%>

<%= link_to 'Organization', organization_path(@region,@organization_id) %>

<div class="project" style="padding: 15px">
  <table>
    <tbody>
      <tr>
        <td>Name</td>
        <td><%=@project.name%></td>
      </tr>
      <tr>    
        <td>Description</td>
        <td><%=@project.description%></td>
      </tr>
      <tr>  
        <td>enabled</td>
        <td><%=@project.enabled%></td>
      </tr>
    </tbody>
  </table>
</div>
