<%= inside_layout 'application' do %>

  <%= form_tag sessions_path, id: "monsoon_openstack_auth_login" do %>
    <h1>Log In</h1>

    <fieldset id="inputs">
      <p><%= text_field_tag :domain_name, @domain_name, placeholder: "Domain ID", autofocus: true %></p>
      <p><%= text_field_tag :username, @username, placeholder: "Userid", autofocus: true, required: true %></p>
      <p><%= password_field_tag :password, @password, placeholder: "Password", required: true %></p>
    </fieldset>
    <fieldset id="actions">
      <% if @error%>
        <div class="error"><%= @error %></div>
      <% end %>
      <input type="submit" id="submit" value="Log in">
    </fieldset>
  <% end %>

<% end %>
